{% extends 'jinny_cooking/master.html'%}
{% block content %}

{% if perms.cooking %}
    {% if perms.cooking.add_recipe %}
        <p><a href="/accounts/add/recipe/" style="font-size:40px;">Add Recipe</a></p>
    {% endif %}
{% endif %}

<p><a href="{% url 'logout' %}" style="font-size:32px">Logout</a></p>
<!--<li>-->
<!--    {% for item in allRecipes %}-->
<!--        {% if item.author == user %}-->
<!--        <ul>-->
<!--            {{item.title}}-->
<!--        </ul>-->
<!--        {% endif %}-->
<!--    {% endfor %}-->
<!--</li>-->

{% endblock %}
