{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'user_management/css/addrecipe.css' %}{{version}}">
{% endblock %}

{% block content %}
<section class="add-recipe">
    <h1>Update Recipe</h1>
    <div>
        <span class="iconify" data-inline="false" data-icon="bi:arrow-left-short"></span>
        <a href="/accounts/dashboard/" class="go-back">Go Back</a>
    </div>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="">Submit</button>
    </form>
</section>
{% endblock %}