{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'user_management/css/loginpage.css' %}{{version}}">
{% endblock %}

{% block content %}
{% if validlink %}
<form action="" method="post" class="login">
   {% csrf_token %}
        <table>
            <tbody>
            <tr>
                <td>
                    <div style="text-align: center; font-family: Roboto;">
                        <p>Please enter (and confirm) your new password.</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
        </tbody>
        </table>
    <input type="submit" class="btn btn-default btn-lg" value="Change my password" style="margin-right: 8px; padding: 8px 16px; width: initial;">
</form>
{% else %}
    <h1>Password reset failed</h1>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}

{% endblock %}

<!--<ul class="errorlist" style="font-family: Roboto; font-weight: Bold;"><li>The two password fields didn’t match.</li></ul>-->