@import 'fonts.scss';

nav {
    width: 100%;
    margin-top: 15px;
    z-index: 1000;
    position: absolute;
    
    .right{
        display: inline;
        float: right;

        .iconify.close{
            display: none;
        }

        a.nav-item{
            display: none;
        }
        
        .iconify.toggle{
            display: inline;
            font-size: 40px;
            color: rgb(0, 0, 0);
            margin: 0 20px 0 10px;
        }
    }

    a.nav-item.logo{
        width: auto;
        height: auto;
        margin-left: 185px;
        text-align: center;
    }   

    a.nav-item{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
        margin: 0 10px;
    }

    a.nav-item.last{
        margin-right: 185px;
    }

    a.lang::before{
        content: "";
        border-left: 1px solid rgba(0, 0, 0, 0.6);;
        margin: 0 20px 0 0;
    }

    // Varibles for icons
    $flag-size: 24px;
    $expand-size: 14px;

    .iconify.expand{
        font-size: $expand-size; 
        margin-bottom: $flag-size - $expand-size;
        position: relative;
        left: -5px;
    }

    .iconify.flag{
        font-size: $flag-size;
        position: relative;
        top: 3px;
    }

    .right.show{
        background: linear-gradient(90deg, #0000003f 60%, #ffffff 60%);
        z-index: 1000;
        position: fixed;
        top: -15px;
        left: 0;
        right: 0;
        height: 110vh;


        .iconify.close{
            font-size: 40px;
            display: block;
            float: right;
            color: rgb(0, 0, 0);
            margin: 30px 20px 0 10px;
        }

        a.nav-item{
            display: block;
            margin: 30px auto;
            margin-right: 0;
            width: 40%;
            font-size: 32px;
        }

        a.nav-item:first-of-type{
            margin-top: 20vh;
        }

        .iconify.toggle{
            display: none;
        }

        a.lang::before{
            content: "";
            border-left: 0px solid rgba(0, 0, 0, 0);;
            margin: 0 20px 0 0;
        }

        .iconify.expand{
            font-size: 24px;
        }
    
        .iconify.flag{
            font-size: 30px;
        }
    }
}

@media only screen and (max-width: 610px){
    nav {
        a.nav-item.logo{
            margin-left: 5px;
        }
    
        a.nav-item{
            font-size: 18px;
        }
    
        a.nav-item.last{
            margin-right: 5px;
        }
    
        a.lang::before{
            content: "";
            border-left: 1px solid rgba(0, 0, 0, 0.6);;
            margin: 0 20px 0 0;
        }
    
        // Varibles for icons
        $flag-size: 24px;
        $expand-size: 14px;
    
        .iconify.expand{
            font-size: $expand-size; 
            margin-bottom: $flag-size - $expand-size;
            position: relative;
            left: -5px;
        }
    
        .iconify.flag{
            font-size: $flag-size;
            position: relative;
            top: 3px;
        }

        .right.show{
            background: linear-gradient(90deg, #0000003f 20%, #ffffff 20%);

            a.nav-item{
                width: 80%;
            }
        }
    }
}

@media only screen and (min-width: 610px){
    nav {
        a.nav-item.logo{
            margin-left: 70px;
        }
    
        a.nav-item{
            font-size: 34px;
            color: rgba(0, 0, 0, 0.6);
            margin: 0 10px;
        }
    
        a.nav-item.last{
            margin-right: 70px;
        }
    
        a.lang::before{
            content: "";
            border-left: 1px solid rgba(0, 0, 0, 0.6);;
            margin: 0 20px 0 0;
        }
    
        // Varibles for icons
        $flag-size: 34px;
        $expand-size: 24px;
    
        .iconify.expand{
            font-size: $expand-size; 
            margin-bottom: $flag-size - $expand-size;
        }
    
        .iconify.flag{
            font-size: $flag-size;
        }
    }
}

@media only screen and (min-width: 1210px){
    nav {
        width: 100%;
        margin-top: 15px;
        
        .right{
            display: inline;
            float: right;

            a{
                display: inline;
            }
            
            .iconify.toggle{
                display: none;
            }

            a.nav-item{
                display: inline;
            }
        }
    
        a.nav-item.logo{
            width: auto;
            height: auto;
            margin-left: 185px;
            text-align: center;
        }
    
        a.nav-item{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: rgba(0, 0, 0, 0.6);
            margin: 0 10px;
        }
    
        a.nav-item.last{
            margin-right: 185px;
        }
    
        a.lang::before{
            content: "";
            border-left: 1px solid rgba(0, 0, 0, 0.6);;
            margin: 0 20px 0 0;
        }
    
        // Varibles for icons
        $flag-size: 24px;
        $expand-size: 14px;
    
        .iconify.expand{
            font-size: $expand-size; 
            margin-bottom: $flag-size - $expand-size;
            position: relative;
            left: -5px;
        }
    
        .iconify.flag{
            font-size: $flag-size;
            position: relative;
            top: 3px;
        }
    }
}