section.middle{
	&.dashboard{
		margin: 0 auto;
		padding: 0 5vw;
		max-width: 1440px;
		width: initial;
	}
	//initialize all the buttons
	a.viewall{
		&.--sm{
			font-size: 20px;
			line-height: 23px;
			font-weight: bold;
			padding: 0;
			margin: 0 20px 0 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 180px;
			height: 50px;
			@media (max-width: 991px){
				font-size: 14px;
				line-height: 18px;
			}
		}

		&.--dark{
			color: white;
			background: black;
		}

		&:last-child{
			margin-right: 0;
		}
	}

	//per section customizations
	.wrapper-actions{
		margin: 69px 0;
		display: flex;
		justify-content: flex-end;
	}

	.wrapper-content{
		display: flex;
		@media (max-width: 600px){
			flex-direction: column;
		}

		.wrapper-submissions{
			flex-grow: 1;
			max-width: 50%;
			@media (max-width: 600px){
				max-width: initial;
				width: 100%;
			}
			.title{
				margin: 23px auto;
				font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 28px;
				text-align: center;
				max-width: 215px;
				border-bottom: 1px solid black;
			}

			.row{
				display: grid;
				grid-template-columns: auto auto auto;
				margin: 0 -7.5px;

				@media (max-width: 1210px){
					grid-template-columns: auto auto;
				}

				@media (max-width: 768px){
					grid-template-columns: auto;
				}

				@media (max-width: 600px){
					grid-template-columns: auto auto;
				}
				.item{
					display: inline-block;
					padding: 0 7.5px;
					.wrapper-image{
						position: relative;
						img{
							width: 100%;
						}
						a{
							position: absolute;
							top: 6px;
							right: 0;
							max-width: 117px;
							height: 36px;
							border-radius: 17px;
						}
					}
					.wrapper-status{
						display: flex;
						justify-content: center;
						.status{
							font-family: Roboto;
							font-style: normal;
							font-weight: normal;
							font-size: 14px;
							line-height: 16px;
							display: flex;
							flex-direction: column;
							justify-content: center;
						}
						.iconify{
							font-size: 25px;
							color: #00AD11;
						}
					}
					.item-title{
						display: block;
						font-family: Arial;
						font-style: normal;
						font-weight: normal;
						font-size: 24px;
						line-height: 28px;
						min-height: 117px;
					}
				}
			}
		}

		.separator{
			margin: 0 31px;
			width: 1px;
			background: #000;
			@media (max-width: 600px){
				display: none;
			}
		}
	}
}