{% extends "jinny_cooking/master.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'jinny_cooking/css/frontpage.css' %}{{version}}">
{% endblock %}

{% block header %}
    <section class="top">
        <div class="title">
            <h1>{{frontpage.title}}</h1>
            <h2>{{frontpage.subtitle}}</h2>
            <a href="#scroll-section"><span class="iconify down" data-inline="false" data-icon="bx:bx-chevron-down" style="font-size: 88px;"></span></a>
        </div>
        <div class="poly">
            <img src="{% static 'jinny_cooking/img/Poly-Frontpage.png' %}" class="frontpage-poly">
            <video class="gif" autoplay loop muted playsinline>
                <source src="{% static 'jinny_cooking/video/JinnyDance.webm' %}" type="video/webm">
                <source src="{% static 'jinny_cooking/video/JinnyDance.mp4' %}" type="video/mp4">
            </video>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="middle" id="#scroll-section">
        <h3>{{frontpage.recipe_title}}</h3>
        <div class="collcetion">
            <div class="row">
                {% for recipe in recipes %}
                <a class="item" href="{{recipe.get_absolute_url}}">
                    <img src="{{recipe.image.url}}">
                    <span>{{recipe.title}}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <a href="/recipes" class="viewall">
            {{frontpage.button_title}}
            <span class="iconify icon" data-inline="false" data-icon="ic:outline-arrow-right-alt"></span>
        </a>
    </section>
{% endblock %}