{% extends "jinny_cooking/master.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'jinny_cooking/css/frontpage.css' %}{{version}}">
    <meta property="og:description" name="description" content="Find new and exciting recipes created by Jinnytty.">
    <meta name="keywords" content="Jinnytty, Recipes, Food">
    <meta name="author" content="Nikcio">
    <meta property="og:image" content="{% static 'jinny_cooking/img/Jinnytty-website.png' %}">
    <meta property="og:image:width" content="1600">
    <meta property="og:image:height" content="1200">
    <meta property="og:type" content="website"/>
{% endblock %}

{% block header %}
    <section class="top">
        <div class="title">
            <h1>{{frontpage.title}}</h1>
            <h2>{{frontpage.subtitle}}</h2>
            <a href="#scroll-section" id="scroll-down" title="scroll to recipes"><span class="iconify down" data-inline="false" data-icon="bx:bx-chevron-down" style="font-size: 88px;"></span></a>
        </div>
        <div class="poly">
            <img src="{% static 'jinny_cooking/img/Poly-Frontpage.png' %}" class="frontpage-poly" alt="Jinnytty website dinosaur background" title="Jinnytty website dinosaur background">
            <video class="gif" autoplay loop muted playsinline>
                <source src="{% static 'jinny_cooking/video/JinnyDance.webm' %}" type="video/webm">
                <source src="{% static 'jinny_cooking/video/JinnyDance.mp4' %}" type="video/mp4">
            </video>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="middle" id="#scroll-section">
        <h3>{{frontpage.recipe_title}}</h3>
        <div class="collcetion">
            <div class="row">
                {% for recipe in recipes %}
                <a class="item" href="{{recipe.get_absolute_url}}" title="{{ recipe.title }}">
                    <img data-src="{{recipe.image.url}}" class="lazyload" alt="{{recipe.title}}" title="{{recipe.title}}">
                    <span>{{recipe.title}}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <a href="/recipes" class="viewall" title="View all recipes">
            {{frontpage.button_title}}
            <span class="iconify icon" data-inline="false" data-icon="ic:outline-arrow-right-alt"></span>
        </a>
    </section>
{% endblock %}