{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cooking with Jinny</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/jinny_cooking/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/jinny_cooking/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/jinny_cooking/fav/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/jinny_cooking/fav/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/jinny_cooking/fav/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static '/jinny_cooking/fav/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static '/jinny_cooking/fav/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'jinny_cooking/css/Base.css' %}">
    {% block head %}{% endblock %}
    <!-- endinject -->
</head>
<body>
    <nav>
        <a href="/" class="nav-item logo"><img src="{% static 'jinny_cooking/img/Jinnytty.png' %}"></a>
        <div class="right">
            {% for item in navigation.items.all %}
            <a href="{{item.link}}" class="nav-item">{{item.title}}</a>
            {% endfor %}
            <a href="#" class="nav-item last lang">
                <span class="iconify flag" data-inline="false" data-icon="emojione:flag-for-us-outlying-islands"></span>
                <span class="iconify expand" data-inline="false" data-icon="ant-design:caret-down-outlined"></span>
            </a>
        </div>
    </nav>

    {% block header %}{% endblock %}

    <section class="live-now">
        <div class="title">
            <h3>Live</h3>
            <span class="iconify dot" data-inline="false" data-icon="entypo:dot-single"></span>
        </div>
        <a href="https://twitch.tv/jinnytty/" target="_blank" class="watch-now">Watch Now!</a>
        <p>Jinnytty is Live Now</p>
    </section>

    {% block content %}{% endblock %}

    <section class="footer">
        <div>
            {% for item in navigation.items.all %}
                <a href="{{item.link}}">{{item.title}}</a>
            {% endfor %}
        </div>
        <div>
            {% for item in socials %}
            <a href="{{item.link}}" target="_blank"><span class="iconify" data-inline="false" data-icon="cib:{{item.type}}"></span></a>
            {% endfor %}
        </div>
        <a href="https://nikcio.com/" target="_blank" class="copyright">© Nikcio 2020</a>
        <div class="bottom-banner"></div>
    </section>

    <!-- inject:js -->
    <script src="{% static 'jinny_cooking/js/get_streamer.js' %}"></script>
    <!-- endinject -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
</body>
</html>
