{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cooking with Jinny</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'jinny_cooking/css/Base.css' %}">
    {% block head %}{% endblock %}
    <!-- endinject -->
</head>
<body>
    <nav>
        <a href="/" class="nav-item logo"><img src="{% static 'jinny_cooking/img/Jinnytty.png' %}"></a>
        <div class="right">
            <a href="/about" class="nav-item">About</a>
            <a href="/viewall" class="nav-item">Recipes</a>
            <a href="#" class="nav-item last lang">
                <span class="iconify flag" data-inline="false" data-icon="emojione:flag-for-us-outlying-islands"></span>
                <span class="iconify expand" data-inline="false" data-icon="ant-design:caret-down-outlined"></span>
            </a>
        </div>
    </nav>

    {% block header %}{% endblock %}

    <section class="live-now">
        <div class="title">
            <h3>Live</h3>
            <span class="iconify dot" data-inline="false" data-icon="entypo:dot-single"></span>
        </div>
        <a href="https://twitch.tv/jinntty/" target="_blank" class="watch-now">Watch Now!</a>
        <p>Jinntty is Live Now</p>
    </section>

    {% block content %}{% endblock %}

    <section class="footer">
        <div>
            <a href="/about">About</a>
            <a href="/recipes">Recipes</a>
        </div>
        <div>
            <a href="https://www.twitch.tv/jinnytty" target="_blank"><span class="iconify" data-inline="false" data-icon="cib:twitch"></span></a>
            <a href="https://www.instagram.com/yyj0728/" target="_blank"><span class="iconify" data-inline="false" data-icon="fa:instagram"></span></a>
            <a href="https://www.youtube.com/yoomjji" target="_blank"><span class="iconify" data-inline="false" data-icon="cib:youtube"></span></a>
            <a href="https://discordapp.com/invite/XtdbP2x" target="_blank"><span class="iconify" data-inline="false" data-icon="cib:discord"></span></a>
        </div>
        <a href="https://nikcio.com/" target="_blank" class="copyright">© Nikcio 2020</a>
        <div class="bottom-banner"></div>
    </section>

    <!-- inject:js -->
    <script src="{% static 'jinny_cooking/js/get_streamer.js' %}"></script>
    <!-- endinject -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
</body>
</html>