{% extends "jinny_cooking/master.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'jinny_cooking/css/viewall.css' %}">
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <section class="viewall">
        <h1>{{viewall.title}}</h1>
        <div class="collcetion">
            <div class="row">
                {% for recipe in recipes %}
                <a class="item" href="{{recipe.get_absolute_url}}">
                    <img src="{{recipe.image.url}}">
                    <span>{{recipe.title}}</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}